src/resourses/Servicio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="servicios" type="serviciosType">
    <xs:annotation>
      <xs:documentation>&lt;!DOCTYPE servicios SYSTEM "Servicio.dtd" ></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="servicioType">
    <xs:sequence>
      <xs:element name="nombre">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Peluqueria"/>
            <xs:enumeration value="Barberia"/>
            <xs:enumeration value="Uñas"/>
            <xs:enumeration value="Pestañas"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="valor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20000"/>
            <xs:enumeration value="10000"/>
            <xs:enumeration value="40000"/>
            <xs:enumeration value="35000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="activo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviciosType">
    <xs:sequence>
      <xs:element type="servicioType" name="servicio" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="xs:noNamespaceSchemaLocation"/>
  </xs:complexType>
</xs:schema>